@import "../../assets/styles/variables.scss";
@import '../../assets/styles/utils.scss';
.dip-agreement-list{
    padding: 0rem 0rem;
   
}

.dip-agreement-title {
    margin-left: 15px !important;
    font-family:Cambria !important;
    font-weight:bold !important;
    font-size: 28px;
    margin-bottom: 15px !important;
    margin-top: 25px !important;
}

.dip-agreement-search {
    margin-bottom: 25px !important;
    margin-top: 15px !important;    
}

.dip-agreement-table-container {
    margin-left: 5px !important;
    margin-bottom: 40px;
    background-color: white;
    
}

input[type="checkbox" ].dip-agreement-table-checkbox{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background-color: white !important;
    color: black;
    border: 1px solid #9A9B9C;
    border-radius: 2px;
    opacity: 0.50;
}

.dip-agreement-table {
    /* margin-left: 5px !important; */
    background-color: white;
   
}

.dip-agreements-export-excel{
    color: #9A9B9C !important;
    font-size: 13px;
    float: right;
}

.dip-agreements-export-excel-active{
    color: $body-bg-color !important;
    font-size: 13px;
    float: right;
}

.dip-agreements-export-excel-container{
    position: relative;
    top: 5px;
    left:40px;
}

.btn-link:hover,
.dip-agreements-export-excel-container a:visited,
.dip-agreements-export-excel-container a:hover,
.dip-agreements-export-excel-container a:focus,
.dip-agreements-export-excel-container a:active{
    text-decoration: none !important;
}

.dip-agreement-row-count{
    color: white;
    background-color:$primary-color;
    border-radius: 50px;
    font-size:12px;
    padding:7px 7.5px;
    text-align:center;
}

.dip-agreement-row-count-container{
    top: 8px;
    left:25px;
    color: $body-bg-color;
}

td.dip-agreement-status-column{
    text-align: left !important;
}

.dip-agreement-gold-dot{
    height: 10px !important;
    width: 10px !important;
    background-color:#FFAB2B !important;
    border-radius: 50% !important;
    display: inline-block;
    margin-right: 8px;
}

.dip-agreement-green-dot{
    height: 10px !important;
    width: 10px !important;
    background-color:#6DD230 !important;
    border-radius: 50% !important;
    display: inline-block;
    margin-right: 8px;
}

.dip-agreement-red-dot{
    height: 10px !important;
    width: 10px !important;
    background-color:#F5002F !important;
    border-radius: 50% !important;
    display: inline-block;
    margin-right: 8px;
}

.dip-agreement-grey-dot{
    height: 10px !important;
    width: 10px !important;
    background-color:#9A9B9C !important;
    border-radius: 50% !important;
    display: inline-block;
    margin-right: 8px;
}



.dip-agreement-table-row-hover:hover{
    background-color: rgb(232, 242, 250) !important;
    
}


.dip-agreement-column-sort-button{
    margin: 0px !important;
    padding: 0px !important;
}

/* .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: $body-bg-color !important;
    opacity: 6%;
}
   */

